<div align="center">
  <img src="https://www.moneyearningideas.com/wp-content/uploads/make-money-as-a-dog-walker.jpg" align="center"  alt="dog-walking">
</div>

<div align="center">
  <input align="center" type="submit" name="submit" value="Signup"><br>
  <input align="center" type="submit" name="submit" value="Login">
</div>
